.btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #DCDFE6;
    border-color: #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
}

.btn-small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.fadein {
    animation: fadein 0.3s linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-fade-enter-active {

  transition: all .3s ease;

}

.slide-fade-leave-active {

  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);

}

.slide-fade-enter, .slide-fade-leave-to {

  transform: translateY(-10px);

  opacity: 0;

}